mixin checkbox(id, content, additionalClass)
  .checkbox(class=additionalClass)
    input.checkbox__hidden(type="checkbox", id=id)
    label.checkbox__fake(for=id)
    label.checkbox__label(for=id) #{content}