mixin roundbutton(id, name, content, additionalClass)
  .roundbutton(class=additionalClass)
    input.roundbutton__hidden(type="radio", name=name, id=id)
    label.roundbutton__fake(for=id)
    label.roundbutton__label(for=id) #{content}